.content {
  padding-left: 2.7rem;
  width: calc(100% - 3rem);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .content {
    padding-left: 19rem;
    width: calc(100% - 20rem);
    margin-top: 4rem;
  }

  .content__painel {
    width: 80%;
  }

  .content__task {
    width: 20%;
}
}
